:javascript
  jQuery(document).ready(function(){
      $('.accordion .head').click(function() {
          $(this).next().toggle('medium');
          return false;
      }).next().hide();
  });
.accordion
  %h2 Community Buzz
  = render 'nodes/buzz_section', :attribute_name => 'tweets', :title => "Twitter", :collection => node.tweets, :partial_name => 'tweet'
  = render 'nodes/buzz_section', :attribute_name => 'stack_results', :title => "Stack Overflow", :collection => node.stack_results, :partial_name => 'stack_result'
