.right#adminBox.contentBox.last
  %ul
    %li= link_to 'Add Node', new_node_path
.span-24.contentBox.last
  .span-24.last
    %h3.span-24 All Concepts/Nodes
    .span-8
      = render 'pages/home_node', :nodes => @nodes[0]
    .span-8
      = render 'pages/home_node', :nodes => @nodes[1]
    .span-8.last
      = render 'pages/home_node', :nodes => @nodes[2]
