.span-17.prepend-1.border
  - unless flash[:notice].nil?
    %p.notice= flash[:notice]
  %h2= relationship_sentence_with_links(@relationship)
  %p= link_to "Edit", edit_relationship_path(@relationship)
  = render 'shared/link_section', :linkable => @relationship, :link => @link
.span-6.sidebar.last
