body {
  background-image:url('/images/wood025.jpg');
  background-repeat: repeat;
}
#top {
  width: 100%;
  background-color:black;
  color: white;
  margin-bottom: 10px;
}
#headerDiv {
  width: 950px;
  margin: auto;
  height: 3em;
}
#headerDiv h2 {
  color: white;
}
#headerDiv input {
  margin-right:3em;
}
#footer {
  width: 100%;
  background-color:white;
  text-align: center;
}
.whiteRoundedBox {
  background-color: white;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  behavior:url(border-radius.htc);
}
.contentBox {
  padding: 5px;
  background-color: white;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  behavior:url(border-radius.htc);
  margin-bottom: 10px;
}

.errorOneLine, .alertOneLine, .noticeOneLine, .successOneLine, .infoOneLine {margin-left: 0.2em;padding:0.2em;margin-bottom:0.5em;border:2px solid #ddd;}

#centerHome {
  text-align: center;
}

#centerHome p {
  text-align: center;
}

.mediaLinks img {
  /*border: 1px solid #ccc;*/
}

.mediaLinks ul {
  list-style: none;
  display: inline;
}
.mediaLinks ul li{
  display: inline;
}
.relationship_link {
  color: #555;
  text-decoration:none;
  border-bottom:1px dotted #bbb;
}
.relationship_link:hover {
  color: #555;
  text-decoration:underline;
  border-bottom:none;
}
.center {
  text-align: center;
  margin: auto;
}
.no_margin{
  clear;
}
.bottom_border {padding-bottom:4px;margin-bottom:5px;border-bottom:1px solid #ddd;}

.relSentenceLink {
  text-decoration:none;
  font: inherit;
}
.relSentenceLink:hover {
  border-bottom:1px dotted #666; 
}
.thinHeightTextArea{
  height:60px;
}
.mediumHeightTextArea{
  height:100px;
}
.XLHeightTextArea{
  height:500px;
}
#homePageNodeList {

}
#homePageNodeList .nodeList{

}
#homePageNodeList .relationshipList a{
  border-bottom:1px dotted #666; 
  color: #000000;
}
