div.fs-content {  
    margin-bottom: 20px;  
}  
  
div.fs-mainblock {  
    height: 700px;  
    background: #ccc;  
}  
  
div.fs-sidebar {  
    height: 700px;  
    background: #ccc;  
}  
  
div.fs-footer {  
    margin-top: 20px;  
    padding-top: 5px;  
    height: 30px;  
    background: #ccc;  
    border-top: 1px solid #000;  
}  

div.fs-header {  
    //Logo + menu  
    width: 710px;  
    height: 110px;  
    background: #ccc;  
    margin-bottom: 10px;  
}  
div.fs-featured {  
    // Featured sections  
    width: 710px;  
    height: 580px;  
    background: #ccc;  
    margin-bottom: 10px;  
}  
  
div.fs-sidebar div.fs-recentposts {  
    height: 370px;  
    background: #ccc;  
    margin-bottom: 10px;  
}  
div.fs-sidebar div.fs-newsbox {  
    height: 270px;  
    background: #ccc;  
}  