:javascript
  jQuery(document).ready(function(){
    $("#newLinkForm").dialog({ 
      autoOpen: false,
      modal: true,
      width: 400
    });
    $( "#addLink" )
            .button()
            .click(function() {
                $( "#newLinkForm").dialog( "open" );
    });
  });
%h3.span-4 Helful Links  
.span-4.right.last
  = button_to 'Add Helpful Link', 'javascript:;', :id => "addLink"
- unless linkable.links.count == 0
  %ul.span-7.last
    - linkable.links.each do |link|
      - unless link.url.blank?
        %li= link_to link.url, link.url

= render 'links/form', :linkable => linkable, :link => @link
