%h3 Related Nodes
- unless node.relationships.blank?
  %ul
    - node.relationships.each do |r|
      %li
        = relationship_sentence_with_link(r, node) + " - " + link_to("more info", r, :class => "relationship_link", :id => "relationshipLink#{r.id}")
