%h3 Tutorials
- unless item.tutorials.count == 0
  %ul
    - item.tutorials.each do |tutorial|
      %li= link_to tutorial.to_s, [item, tutorial]
.right
  = button_to 'Add Tutorial', new_polymorphic_path([item, :tutorial]), :method => :get, :class => 'ui-button ui-widget ui-state-default ui-corner-all'
