= render 'ask'
.contentBox.span-24.last
  %h1 Learn
  %input#node_search_slug{:name=>'node[slug]', :size=>"30", :type => :hidden}
  %input#node_title.text{"data-autocomplete"=>"/nodes/autocomplete_node_title", 'data-update-elements'=>'{"cached_slug":"#node_search_slug"}', :name=>"node[title]", :size=>"30", :type=>"text"}
                                  
  :javascript
    $('#node_title').bind('railsAutocomplete.select', function(event, data){
      var slug = $("#node_search_slug").val();
      window.location = "#{nodes_path}/" + slug;    
    });    
.contentBox.span-24.last
  %h1 Contribute
