#centerHome.span-19.prepend-3.last
  .span-6
    = image_tag("Wiki1.png")
    %h3 discover
    %p.quiet Explore the pieces of the Ruby Ecosystem. Find new utilities based one the ones you know or start your journey at the top.
  .span-6
    = image_tag("Search.png")
    %h3 learn 
    %p.quiet Once you discover a new node that you like, learn how to use it.  See how it fits into the Ruby Ecosystem, find installation directions, code samples, and other references.
  .span-6
    = image_tag("Workspace2.png")
    %h3 reference 
    %p.quiet Check back to keep your skills sharp, find out new release information, or discover even more solutions.
