.fs-featured
  %h1 Welcome to Ecosystem!
  %p Ecosystem is currently under construction.
.fs-sidebar.span-5.last
  Sidebar
  .fs-recentposts
    Recent posts class
  .fs-newsbox
    News Box Class
.clear
