body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    width: 500px;
    text-align: left;
}
.horseparator {
	height:3px;
	background:#000000;
}
#container, #templateDescription {
    width: 500px;
    text-align: left;
	margin:0 auto;
}
#blurbs {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    margin-top: .5em; 
    color: #666;
}
#blurbs ul {
}
#blurbs p {
    margin-bottom: 5px;
    width: 100%;
    display: block;
}
.fullWidth {
    width: 500px;
    text-align:right;
    overflow: auto;
}
.blurbAuthor {
    font-weight:bold;
    text-align:right;
    margin-bottom: 15px;
    width: 320px;
    float:right;
    display: block;
}
.title {
  font-style:italic
}
