#headerDiv
  %h2.left.strong
    = link_to 'rubeco', root_path
    %span.white.small pre-beta
  .right  
    = form_for (Node.new) do |f|
      = f.autocomplete_field :title, autocomplete_node_title_nodes_path, :id_element => "#id_element_placeholder", :class => "text"
      
  %p.right.bottom search
