#headerDiv
  %h2.left.strong
    = link_to 'rubeco', root_path
    %span.white.small pre-beta
  .right
  
    %input#node_search_slug{:name=>'node[id]', :size=>"30", :type => :hidden}
    %input#node_title.text{"data-autocomplete"=>"/nodes/autocomplete_node_title", 'data-update-elements'=>'{"id":"#node_search_slug"}', :name=>"node[title]", :size=>"30", :type=>"text"}
                            		
    :javascript
      //$(document).ready(function(){
        $('#node_title').bind('railsAutocomplete.select', function(event, data){
          var id = $("#node_search_slug").val();
          window.location = "#{nodes_path}/" + id;    
          });    
        //$('#node_title').autocomplete("option", "autoFocus", true);
      //});
          
  %p.right.bottom search
