!!!
%html
%head
  %title Ruby Ecosystem
  = stylesheet_link_tag 'style' 
  = javascript_include_tag :defaults
  = csrf_meta_tag
%body
  #wrapper  
    #header-wrapper
      #header
        =render 'layouts/header'
    = yield
